.our__vision{
    display: flex;
    padding: 0 0 192px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    z-index: 1;
    position: relative;
}