.our__vision {
    display: flex;
    padding: 0 0 192px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    z-index: 1;
    position: relative;
}

.st0 {
    fill: #F15A29;
}

.st1 {
    fill: #81BD50;
}

.st2 {
    fill: #19A3D7;
}

.st3 {
    fill: #FDB636;
}

.microsoft g path {
    fill: #fff;
}

.stgroup0 {
    fill: #3291E6;
}

.stgroup1 {
    fill: #122861;
}

.stgroup2 {
    fill: #CE5619;
}

.stgroup3 {
    fill: #F39C12;
}

.stgroup4 {
    fill: #fff;
}

.stgroup5 {
    fill: var(--primary);
}
.partners__block{
    padding: 0 80px;
    text-align: center;
    width: 100%;
}
.partners{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.partners svg,.partners img{
    width: auto;
}
.microsoft{
    height: 64px;
}

.posts__margin{
    width:100%;
}
@media screen and (max-width: 992px) {
    .partners__block {
        padding: 0 40px;
    }
    .partners{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .partners svg{
        margin-top: -100px;
    }
    .posts__margin{
        margin-top: -64px;
    }
}

@media screen and (max-width: 768px) {
    .partners__block {
        padding: 0 32px;
    }
    .our__vision {
        padding: 0 0 64px 0;
    }
}

@media screen and (max-width: 576px) {
    .partners__block {
        padding: 0 16px;
    }
    .our__vision {
        padding: 0 0 48px 0;
    }
    .partners svg,.partners img{
        scale: 0.8;
    }
}