.careers__header{
    margin-top: 64px;
    width: 842px;
    margin-bottom: 8px;
}
@media screen and (max-width: 992px) {
    .careers__header {
        max-width: Calc(100vw - 80px);
    }
}
@media screen and (max-width: 768px) {
    .careers__header {
        max-width: Calc(100vw - 64px);
    }
}
@media screen and (max-width: 576px) {
    .careers__header {
        max-width: Calc(100vw - 32px);
    }
}