.people{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
    height: auto;
}
.people__info{
    display: flex;
    padding: 24px 24px 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid var(--light-blue);
    background: var(--surface-blue);
    backdrop-filter: blur(14px);
}
.people__flip-card {
    width: 100%;
    height: 480px;
    perspective: 1000px;
}

.people__flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.people__flip-card:hover .people__flip-card-inner {
    transform: rotateY(-180deg);
}

.people__flip-card-front,
.people__flip-card-back {
    position: absolute;
    width: 100%;
    height: 480px;
    backface-visibility: hidden;
    border-radius: 24px;
}

.people__flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
}
.people__flip-card-front img{
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.people__flip-card-back {
    color: white;
    display: flex;
    align-items: flex-start;
    border-radius: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    background: var(--surface-blue);
    transform: rotateY(-180deg);
    flex-shrink: 0;
    padding: 24px;
    height: 100%;
}

.people__flip-card-back div svg{
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .people__info {
        padding: 20px;
    }
}
@media screen and (max-width: 576px) {
    .people__flip-card-front,
    .people__flip-card-back,.people__flip-card {
        height: Calc((100vw - 64px)*1.2);
    }

}


