.nextgen {
    background: url("../../../assets/elements/NextGenAI.svg") no-repeat left;
    height: 200vh;
    position: relative;
    justify-content: flex-start;
}

.nextgen__sticky {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 7.5vh;
    left: 50%;
    gap: 24px;
    align-self: stretch;
}

.nextgen__block {
    display: flex;
    padding: 24px;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 24px;
    background: #141433;
}

.nextgen__block__item {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 18px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #1E1E4D;
    background: #09091A;
    opacity: 0.6;
    cursor: pointer;
}

.nextgen__block__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    height: 100%;
    width: 50%;
}

.nextgen__block__item.active {
    opacity: 1;
}

.nextgen__image {
    height: 460px;
    background: #09091A;
    border-radius: 12px;
    position: relative;
    width: 50%;
}
.nextgen__block__block::-webkit-scrollbar:horizontal {
    /*width: 6px;*/
    width: 0;
    opacity: 0;
    height: 0;
}
@media screen and (max-width: 1275px) {
    .nextgen__image {
        height: 540px;
    }
}
@media screen and (max-width: 1220px) {
    .nextgen__image {
        height: 564px;
    }
}
@media screen and (max-width: 1082px) {
    .nextgen__image {
        height: 588px;
    }
}
@media screen and (max-width: 1070px) {
    .nextgen__image {
        height: 612px;
    }
}
@media screen and (max-width: 992px) {
    .nextgen {
        height: auto;
    }

    .nextgen__image {
        height: 612px
    }
    .nextgen__image img{
        height: 100%;
    }

    .nextgen__sticky {
        top: 15vh;
    }
}


@media screen and (max-width: 768px) {
    .nextgen {
        background: none;
    }
    .nextgen__block__block, .nextgen__image {
        width: 100%;
    }
    .nextgen__image {
        height: 460px;
    }
    .nextgen__image button{
        padding: 8px 16px!important;
    }
    .nextgen__image button div{
        font-size: 14px!important;
    }
    .nextgen__block__item{
        gap: 4px;
        justify-content: flex-start;
    }

    .nextgen__block__block {
        flex-direction: row;
        width: Calc(100vw - 48px);
        overflow: scroll;
        padding-right: 16px;
    }

    .nextgen__block {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .nextgen__block {
        padding: 16px;
    }

    .nextgen__image {
        height: 420px;
    }

    .nextgen__block__item {
        max-width: 60vw;
        min-width: 60vw;
        height: auto;
        width: max-content;
    }

    .nextgen__sticky {
        top: 10vh;
        gap: 12px;
    }
}

@media screen and (max-width: 576px) {
    .nextgen__image {
        height: 240px;
    }


    .nextgen__block__item {
        max-width: 75vw;
        min-width: 75vw;
        display: flex;
        padding-right: 8px;
    }
    .nextgen__sticky {
        top: 15vh;
        gap: 12px;
    }
}