.nextgen{
    background: url("../../../assets/NextGenAI.svg") no-repeat left;
}
.nextgen__sticky{
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15vh;
    left: 50%;
    gap: 24px;
    align-self: stretch;
}
.nextgen__block{
    display: flex;
    padding: 24px;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 24px;
    background: #141433;
    margin-top: 24px;
}
.nextgen__block__item{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #1E1E4D;
    background: #09091A;
    opacity: 0.6;
    cursor: pointer;
}
.nextgen__block__block {
    display: flex;
    flex-direction: column;
    gap:12px;
    width: 50%;
}

.nextgen__block__item.active{
    opacity: 1;
}
.nextgen__image{
    height: 420px;
    background: #09091A;
    border-radius: 12px;
    position: relative;
    width: 50%;
}
@media screen and (max-width: 1421px) {
    .nextgen__image{
        height: 516px;
    }
}
@media screen and (max-width: 992px) {
    .nextgen__image{
        height: 460px;
    }
    .nextgen__block__block, .nextgen__image{
        width: 100%;
    }
    .nextgen__block__block{
        flex-direction: row;
        overflow: scroll;
        width: max-content;
    }
    .nextgen__block{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .nextgen__sticky {
        top: 2.5vh;
    }
}
@media screen and (max-width: 768px) {
    .nextgen__block{
        padding:16px;
    }
    .nextgen__image{
        height: 420px;
    }
    .nextgen__block__item{
        max-width: 60vw;
    }
}
@media screen and (max-width: 576px) {
    .nextgen__image{
        height: 300px;
    }
    .nextgen__sticky {
        top: 2.5vh;
    }
    .nextgen__block__item{
        max-width: 75vw;
    }
    .nextgen__block__item {
        display: flex;
        padding-right: 8px;
    }
}