.main__block {
    display: flex;
    padding: 96px 80px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    /*background: var(--primary);*/
    background: url("../../assets/HeroAll.png") no-repeat top center;
    background-size: cover;
    gap: 8px;
    text-align: center;
    width: 100%;
    position: relative;
    height: 381px;
}
.main__block h1 {
    margin-bottom: 16px;
    max-width: 60vw;
}
.main__block sub {
    max-width: 60vw;
    height: 54px;
}

@media screen and (max-width: 768px) {
    .main__block sub {
            max-width: 100%;
    }
}
