.main__block {
    display: flex;
    padding: 96px 80px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    gap: 8px;
    text-align: center;
    width: 100%;
    position: relative;
    height: 381px;
}

@keyframes absoluteAnimation {
    0% {
        left: -80px;
        height: 450px;
        background: linear-gradient(270deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    24.9% {
        left: 264px;
        height: 450px;
        background: linear-gradient(270deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    25% {
        left: 264px;
        height: 450px;
        background: linear-gradient(90deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    67.5% {
        left: 264px;
        height: 450px;
        background: linear-gradient(90deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    99.9% {
        left: -80px;
        height: 450px;
        background: linear-gradient(90deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    100% {
        left: -80px;
        height: 450px;
        background: linear-gradient(270deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
}

.absolute__svg {
    position: absolute;
    width: 80px;
    top: 0;
    left: 0;
    animation: absoluteAnimation 30s infinite ease-in-out;
    transition: height 0.5s ease-in-out, left 0.5s ease-in-out;
}

@keyframes absoluteAnimation2 {
    0%, 15% {
        left: -80px;
        background: linear-gradient(270deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    49.9% {
        left: 264px;
        background: linear-gradient(270deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    50% {
        left: 264px;
        background: linear-gradient(90deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    74.9%, 100% {
        left: -80px;
        background: linear-gradient(90deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
}

@keyframes absoluteAnimationMobile {
    0% {
        left: -80px;
        height: 450px;
        background: linear-gradient(270deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    24.9% {
        left: 122px;
        height: 450px;
        background: linear-gradient(270deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    25%,50%{
        left: 122px;
        height: 450px;
        background: linear-gradient(90deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    99.9% {
        left: -80px;
        height: 450px;
        background: linear-gradient(90deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    100% {
        left: -80px;
        height: 450px;
        background: linear-gradient(270deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
}

@keyframes absoluteAnimationMobile2 {
    0%, 15% {
        left: -80px;
        background: linear-gradient(270deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    39.9% {
        left: 50px;
        background: linear-gradient(270deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    40% {
        left: 50px;
        background: linear-gradient(90deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
    64.9%, 100% {
        left: -80px;
        background: linear-gradient(90deg, #09091A 0%, rgba(9, 9, 26, 0.00) 100%);
    }
}
.absolute__svg2 {
    position: absolute;
    width: 80px;
    bottom: 76px;
    left: 0;
    height: 300px;
    animation: absoluteAnimation2 30s infinite ease-in-out;
    transition: height 0.5s ease-in-out, left 0.5s ease-in-out;
}

.main__block h1 {
    margin-bottom: 16px;
    max-width: 60vw;
    text-transform: capitalize;
}

.main__block sub {
    max-width: 60vw;
    height: 54px;
}

.main__block b {
    text-transform: capitalize;
}

.main__block__svg {
    width: 348px;
    height: 323px;
}

.second__block__main {
    position: absolute;
    bottom: -76px;
    right: 0;
    overflow: hidden;
    z-index: -1;

}

@media screen and (max-width: 992px) {
    .main__block h1 {
        max-width: 100vw;
    }
}

@media screen and (max-width: 768px) {
    .main__block {
        margin-top: 80px;
        padding: 64px 16px;
        justify-content: flex-start;
        height: auto;
    }

    .main__block h1 {
        max-width: 100vw;
        font-size: 48px;
    }

    .main__block__svg {
        width: 225px;
        height: auto;
    }

    .main__block sub, .main__block b {
        max-width: 100%;
        font-size: 16px;
        height: auto;
    }

    .second__block__main {
        bottom: unset;
        top: 20px;
    }

    .absolute__svg {
        top: 0;
        left: 0;
        animation: absoluteAnimationMobile 30s infinite ease-in-out;
    }

    .absolute__svg2 {
        top: 0;
        right: 0;
        height: 300px;
        animation: absoluteAnimationMobile2 30s infinite ease-in-out;
    }

}

@media screen and (max-width: 576px) {
    .main__block__svg {
        width: 160px;
        height: auto;
    }

    .main__block h1 {
        max-width: 100vw;
        font-size: 40px;
    }
}

