.leadership {
    display: flex;
    padding: 96px 80px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    /*background: var(--surface-blue);*/
    background: url("../../../assets/elements/CTA.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    margin-top: 64px;
    flex-direction: column;
}
.leadership div {
    max-width: 60%;
}
.leadership div h2 {
    margin-bottom: 20px;
}
.leadership div sub {
    color: var(--white);
}
@media screen and (max-width: 768px) {
    .leadership {
        padding: 64px 32px;
        background: var(--surface-blue);
        flex-direction: column;
        background: url("../../../assets/elements/CTAMobile.png") no-repeat center center;
        background-size: cover;
        margin-top: 32px;
    }

    .leadership div h2 {
        margin-bottom: 6px;
    }
    .leadership div sub {
        max-width: 100%;
    };
}

@media screen and (max-width: 576px) {
    .leadership {
        padding: 64px 16px;
        gap: 24px;
        /*background: var(--surface-blue);*/
    }
}