.companies {
    display: flex;
    padding: 76px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    position: relative;
}

.companies h2 {
    word-wrap: break-word;
    text-align: center;
}

.scrollable__block {
    width: 100%;
    overflow-x: hidden;
    margin: 64px 0;
}

.scrollable__block__items {
    display: flex;
    animation: swipe 30s linear infinite;
    user-select: none;
}
@keyframes swipe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33%);
    }
}
.companies__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 24px;
}
.companies__grid div{
    width: 100%!important;
    margin: 0!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}
.companies sub{
    text-align: center;
}
@media screen and (max-width: 576px) {
    .companies {
        padding: 40px 0;
    }
}