.ToContact {
    display: flex;
    padding: 96px 80px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    z-index: 1;
    position: relative;
    width: 100vw;
    background: url("../../../assets/elements/CTA.png") no-repeat center center;
    background-size: cover;
    gap: 80px;
}
.ToContact h2{
    display: grid;
}
@media screen and (max-width: 768px) {
    .ToContact{
        background: url("../../../assets/elements/CTAMobile.png") no-repeat center center;
        background-size: cover;
    }
    .ToContact{
        padding: 64px 32px;
    }
    .ToContact h2{
        display: block;
    }
    .ToContact button{
        padding: 8px 0!important;
        width: 100%;
        max-width: 350px;
    }
}
@media screen and (max-width: 576px) {
    .ToContact{
        padding: 64px 16px;
    }
    .ToContact button{
        max-width: none;
    }

}