.offering__info{
    width: 100%;
    padding: 50px 80px 96px 80px;
}
.offering__info__block{
    background: url("../../../assets/offering/OfferingInfo.webp") no-repeat center;
    background-size: cover;
    display: flex;
    height: auto;
    padding: 40px;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    flex-wrap: wrap;
    border-radius: 24px;
    width: 100%;
}
.offering__info__block__inside{
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--light-blue);
    background: rgba(18, 18, 46, 0.70);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
}
.offering__info__block__inside span{
    width: 40px;
    height: 4px;
    background: var(--orange);
}
@media screen and (max-width: 1100px) {
    .offering__info__block {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .offering__info {
        padding: 50px 32px 64px 32px;
    }
    .offering__info__block {
        height: auto;
        display: flex;
        padding: 32px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
    }
}
@media screen and (max-width: 576px) {
    .offering__info {
        padding: 50px 16px 32px 16px;
    }
    .offering__info__block {
        display: flex;
        padding: 32px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
    }
}