@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --figtree: 'Figtree', sans-serif;
    --hanken-grotesk: 'Hanken Grotesk', sans-serif;
    --primary: rgb(9, 9, 26);
    --orange: #f23704;
    --surface-blue: #141433;
    --light-blue: #1E1E4D;
    --white: #FFFFFF;
    /*--text-gray: #727272*/
    --text-gray: #B3B3B3;
}

html,
body {
    margin: 0;
    height: 100%;
    /*overflow-x: hidden;*/
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar,*::-webkit-scrollbar:horizontal {
    /*width: 6px;*/
    width: 0;
    opacity: 0;
}
/*::-webkit-scrollbar-thumb:horizontal{*/
/*   height: 0;*/
/*    opacity: 0;*/
/*}*/
*::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 0;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}

*::-webkit-scrollbar-track {
    background: var(--surface-blue);
    border-radius: 6px;
}

body {
    color: var(--orange);
    background: var(--primary);
}

h1 {
    color: var(--white);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--figtree);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

h2 {
    color: var(--white);
    font-family: var(--figtree);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

h3 {
    color: var(--white);
    font-family: var(--figtree);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

h4 {
    color: var(--white);
    font-family: var(--figtree);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

h5 {
    color: var(--white);
    font-family: var(--figtree);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

h6 {
    color: var(--text-gray);
    font-family: var(--figtree);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

strong {
    color: var(--white);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--hanken-grotesk);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

b {
    color: var(--white);
    font-family: var(--figtree);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

sub {
    color: var(--text-gray);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--hanken-grotesk);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

p,li {
    color: var(--text-gray);
    font-family: var(--hanken-grotesk);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

small {
    color: var(--white);
    font-family: var(--hanken-grotesk);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.cls-2 {
    fill: var(--orange);
}

.our__vision__svg{
    border-radius: 100px;
    border: 6px solid #F2370414;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our__vision__svg__small{
    background: rgba(242, 55, 4, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.sticky__text {
    font-size: 120px;
    text-Align: center;
    position: -webkit-sticky;
    position: sticky;
    top: Calc(50vh - 80px);
    left: 50%;
    z-index: -1;
    transition: opacity 0.5s ease;
}

.unlocked_block {
    border-radius: 16px;
    border: 1px solid #1E1E4D;
    background: rgba(20, 20, 51, 0.70);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    display: inline-flex;
    padding: 36px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: Calc(100vw - 160px - 32vw);
}

.unlocked_block h3 {
    color: var(--orange);
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.unlocked_block h3 div h3 {
    color: var(--white);
}

.orange__span {
    min-width: 40px;
    max-width: 40px;
    max-height: 4px;
    min-height: 4px;
    display: block;
    background: var(--orange);
}
.flag {
    border-radius: 100px;
    border: 1px solid rgba(51, 138, 243, 0.30);
    background: rgba(51, 138, 243, 0.20);
    display: flex!important;
    height: 24px;
    padding: 2px 12px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    width: fit-content;
}
.flag img{
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.textPadding{
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    flex-direction: row;
    padding-left: 80px;
    max-width: 100%;
    width: 100%;
    display: flex;
}
@media screen and (max-width: 992px) {
    .sticky__text {
        font-size: 120px;
    }

    .unlocked_block {
        width: Calc(100vw - 160px);
    }
}

@media screen and (max-width: 800px) {
    .sticky__text {
        font-size: 110px;
    }

    .unlocked_block {
        width: Calc(100vw - 120px);
    }
    .textPadding{
        padding-left: 60px;
    }
}
.mobile{
    display: none!important;
}
.pc{
    display: flex!important;
}
.reinvent{
    padding: 64px 80px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    gap: 16px;
}
.fade__reinvent{
    background: linear-gradient(180deg, #09091A 24.66%, rgba(9, 9, 26, 0.00) 100%);
    position: absolute;
    top:0;
    left: 0;
    height: 177px;
    z-index: 1;
}
.reinvent div{
    /*max-width:39.5vw;*/
    width: Calc(50vw - 160px);
    min-width: Calc(50vw - 160px);
    max-width: Calc(50vw - 160px);
}
.reinvent div div h3{
    margin-top: 24px;
}
.reinvent div div p{
    margin-top: 16px;
}

.arrow{
    border-radius: 100px;
    border: 1px solid var(--light-blue);
    background: rgba(18, 18, 46, 0.70);
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .sticky__text {
        font-size: 90px;
    }
    .unlocked_block {
        width: Calc(100vw - 64px);
        padding: 20px;
    }
    h3{
        font-size: 24px;
    }
    .unlocked_block strong{
        font-size: 20px;
    }
    .mobile{
        display: flex!important;
    }
    .pc{
        display: none!important;
    }
    h4{
        font-size: 20px;
    }
    .textPadding{
        padding-left: 32px;
    }
    .reinvent div{
        width: 100%;
        min-width: 0;
        max-width: none;
    }
    .reinvent {
        padding: 0 32px 0;
    }
    .reinvent div div h3{
        margin-top: 8px;
    }
    .fade__reinvent{
        height: 80px;
    }
}

@media screen and (max-width: 576px) {
    .sticky__text {
        font-size: 64px;
    }
    h2 {
        font-size: 32px;
    }
    sub,b{
        font-size: 16px;
    }
    .unlocked_block {
        width: Calc(100vw - 32px);
    }
    .textPadding{
        padding-left: 16px;
    }
    .reinvent {
        padding: 0 16px 0;
        gap: 8px;
    }
    .reinvent div div h3{
        margin-top: 8px;
    }
    .reinvent div div p {
        margin-top: 8px;
    }
}

@media screen and (max-width: 390px) {
    .sticky__text {
        font-size: 56px;
    }
}