.offering__block{
    display: flex;
    height: 320px;
    padding: 36px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 12px;
    position: relative;
    transition: background-color 300ms ease-out;
}
.offering__block:hover{
    background: var(--orange)!important;
}
.offering__block div{
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: absolute;
    right: 36px;
    bottom: 36px;
    align-items: center;
    text-align: center;
    height: 24px;
    cursor: pointer;
}
.offering__block strong{
    margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
    .offering__block{
        height: 422px;
        padding: 24px;
    }
    .offering__block strong{
        margin-bottom: 36px;
    }
    .offering__block div{
        left: 24px;
        bottom: 24px;
    }
}
@media screen and (max-width: 576px) {
    .offering__block strong{
        font-size: 20px;
    }
}