.unlocked_container{
    background: url("../../../assets/elements/AIUnlocked.svg") no-repeat right bottom -100px;
    position: relative;
    display:flex;
    flex-direction:column;
    width:100%;
    padding:80px;
    gap:130px;
    margin-top:200px;
    transition: opacity 0.5s ease;
    z-index: 0;
}

.unlocked_block {
    border-radius: 16px;
    border: 1px solid #1E1E4D;
    background: rgba(20, 20, 51, 0.70);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    display: inline-flex;
    padding: 36px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: Calc(100vw - 160px - 32vw);
    text-align: justify;
}

.unlocked_block h5 {
    color: var(--orange);
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-family: var(--rethink);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.unlocked_block h5 span {
    color: var(--white);
}

@media screen and (max-width: 992px) {
    .unlocked_container {
        font-size: 120px;
    }

    .unlocked_block {
        width: Calc(100vw - 160px);
    }

}

@media screen and (max-width: 800px) {
    .unlocked_container {
        padding:60px;
    }
    .unlocked_block {
        width: Calc(100vw - 120px);
    }
}

@media screen and (max-width: 768px) {
    .unlocked_container {
        padding:32px;
    }
    .unlocked_block {
        width: Calc(100vw - 64px);
        padding: 20px;
    }
    .unlocked_block h5{
        font-size: 24px;
    }

    .unlocked_block strong{
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    .unlocked_container {
        padding:16px;
        margin-top: 350px;
    }
    .unlocked_block {
        width: Calc(100vw - 32px);
    }
}