nav{
    display: flex;
    padding: 24px 80px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--primary);
}
.nav__logo__text{
    color: var(--white);
    font-family: var(--hanken-grotesk);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
a{
    display: flex;
    flex-direction: row;
    gap: 4px;
    position: relative;
}
a small{
    color: var(--white);
}
.navbar__open{
    position: absolute;
    z-index: 10000;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    top: 30px;
}
@media screen and (max-width: 992px) {
    nav{
        padding: 24px;
    }
}
@media screen and (max-width: 768px) {
    nav{
        padding: 16px;
    }
}