footer{
    height: auto;
    display: flex;
    padding: 64px 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    width: 100%;
}
.footer__first,.footer__second{
   display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}
.social__circle{
    width: 40px;
    height: 40px;
    background: var(--surface-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.subscribe{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: auto;
    background: var(--surface-blue);
    border-radius: 12px;
    height: min-content;
    max-width: 380px;
}
.footer__pages p{
    cursor: pointer;
    position: relative;
    width: min-content;
    white-space: nowrap;
}
.footer__pages p::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 1px;
    opacity: 0;
    height: 1.5px;
    border-radius: 2px;
    background-color: var(--white);
    transition: width 0.2s ease-in-out;
}

.footer__pages p:hover::after {
    width: 100%;
    opacity: 1;
}
@media screen and (max-width: 1200px) {
    footer{
        padding: 48px 90px
    }
}

@media screen and (max-width: 992px) {
    footer{
        height: auto;
        padding: 32px 32px;
    }
    .footer__first{
        gap: 24px;
    }
    .footer__second{
        gap: 24px;
    }
    .footer__pages{
        max-width: 150px;
    }
}
@media screen and (max-width: 768px) {
    footer{
        flex-direction: column;
        padding: 64px 32px;
    }
    .footer__first{
        flex-direction: column;
    }
    .subscribe{
        max-width: 450px;
    }
    .footer__second{
        flex-direction: column-reverse;
    }
    .footer__pages{
        max-width: 200px;
    }
}
@media screen and (max-width: 576px) {
    footer {
        padding: 64px 16px;
    }
}