footer{
    height: 50vh;
    display: flex;
    padding: 64px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    width: 100%;
}
.footer__first,.footer__second{
   display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}
.social__circle{
    width: 40px;
    height: 40px;
    background: var(--surface-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.subscribe{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: auto;
    background: var(--surface-blue);
    border-radius: 12px;
}
.footer__pages p{
    cursor: pointer;
}
@media screen and (max-width: 1200px) {
    footer{
        padding: 48px 90px
    }
}

@media screen and (max-width: 992px) {
    footer{
        height: auto;
        flex-direction: column;
        padding: 64px 32px;
    }
    .footer__first{
        flex-direction: column;
        gap: 24px;
    }
    .subscribe{
        max-width: 450px;
    }
    .footer__second{
        flex-direction: column-reverse;
        gap: 24px;
    }
}
@media screen and (max-width: 768px) {
    footer{
        padding: 64px 16px;
    }
}