.offering__offering__block{
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    align-self: stretch;
    border-radius: 24px;
    position: relative;
    align-items: center;
    padding: 48px 80px 96px 80px;
}
.offering__offering__block__small{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    align-self: stretch;
    border-radius: 24px;
    position: relative;
}
.offering__offering__block__small__big,.offering__offering__block__small__small{
    min-height: 560px;
    height: 560px;
    display: flex;
    flex-direction: column;
    background: var(--surface-blue);
    border-radius: 24px;
    gap: 16px;
    position: relative;
}
.offering__offering__block__small__small{
    min-height: 280px;
    height: 280px;
    padding: 32px;
}
.offering__offering__block__small__small div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.offering__offering__block__small__big div{
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 100%;
    height: 100%;
    gap: 16px;
}

.offering__offering__block__small__big__second{
    background: url('../../../assets/HalfOffering.png') center no-repeat;
    background-size: cover;
    min-height: 280px;
    height: 280px;
}
.offering__offering__block__small__big div:last-child{
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
.offering__offering__block__expand{
    position: absolute;
    bottom:32px;
    right: 32px;
    z-index: 100;
    width: auto!important;
    height: auto!important;
    padding: 0!important;
    display: flex;
    flex-direction: row!important;
    align-items: center;
    gap: 8px!important;
    cursor: pointer;
}
.offering__offering__block__expand sub{
    color: var(--white);
}
.offering__offering__block__expand svg{
    margin-top: 8px;
}
.offering__offering__block__small__big:hover .offering__offering__block__expand,
.offering__offering__block__small__small:hover .offering__offering__block__expand{
    gap: 16px!important;
    right: 24px!important;
}
.offering__offering__block__small__big div small,.offering__offering__block__small__small div small,.offering__offering__block__expand__content div small{
    display: flex;
    padding: 2px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid;
    width: fit-content;
}
@keyframes expandHeight {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        min-height: 560px;
        height: 560px;
        opacity: 1;
    }
}

.offering__offering__block__expand__block{
    position: relative;
    left: 0;
    top: 0;
    padding: 0 80px;
}

.offering__offering__block__expand__content{
    display: flex;
    padding: 48px 32px 0px 32px;
    flex-direction: row;
    background: var(--surface-blue);
    border-radius: 24px;
    position: relative;
    margin-left: 0;
    gap: 48px;
    margin-top: 48px;
    opacity: 0;
    width: 0;
    height: 280px;
    max-height: 280px;
    overflow: hidden; /* Ховає контент, поки він не буде видимим */
    transition: width 1.5s ease, opacity 2s ease;
    /*transform: translate(-100%, -100%);*/
    /*transition: opacity 0.5s ease, transform 0.5s ease;*/
}
.offering__offering__block__expand__content.visible {
    opacity: 1;
    /*transform: translate(0, 0);*/
    width: 100%;
    /*height: auto;*/
    /*max-height: max-content;*/
    animation: expandHeight 2s forwards; /* Animation for collapsing */
}

.offering__offering__block__expand__content__right{
    display: flex;
    flex-direction: row;
    gap: 32px;
    height: auto;
    width: 0;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    transition: width 1s ease, height 1s ease;
}
.offering__offering__block__expand__content.visible .offering__offering__block__expand__content__right{
    width: 66.7%;
    max-width: 66.7%;
    max-height: none;
    height: auto;
}
.offering__offering__block__expand__content__right__block{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.offering__offering__block__expand__content__right__block div{
    height: 225px;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.offering__offering__block__expand__content__svg{
    border-radius: 100px;
    border: 6px solid #F2370414;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0!important;
    height: auto!important;
    width: min-content;
    margin-bottom: 12px;
}
.offering__offering__block__expand__content__svg__small{
    background: rgba(242, 55, 4, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 48px!important;
    height: 48px!important;
    min-height: 0!important;
}
