.CRM{
    display: flex;
    padding: 96px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    z-index: 1;
    position: relative;
}
.CRM__block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    position: relative;
    z-index: -1;
}
.CRM__block img{
    height: 460px;
}
.CRM__block__description{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    align-self: stretch;
    position: relative;
    padding: 0 80px;
}
.CRM__block__description div p{
    width: 90%;
}
.CRM__block__arrow{
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 230px;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid var(--light-blue);
    background: rgba(18, 18, 46, 0.70);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
}