.CRM{
    display: flex;
    padding: 96px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    z-index: 1;
    position: relative;
}
.CRM__block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    position: relative;
    z-index: -1;
}
.CRM__block img{
    height: 460px;
}
.CRM__block__description{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    align-self: stretch;
    position: relative;
    padding: 0 80px;
}
.CRM__block__description div p{
    width: 90%;
}
.CRM__block__arrow{
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 230px;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid var(--light-blue);
    background: rgba(18, 18, 46, 0.70);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
}

@media screen and (max-width: 992px) {
    .CRM__block__description{
        padding: 0 40px;
        flex-direction: column;
    }
    .CRM__block__description div p{
        width: 100%;
    }
    .CRM__block__description button{
        margin-top: 16px;
    }
    .CRM div h2{
        word-wrap: break-word;
        text-align: center;
    }
    .CRM{
        padding: 64px 0;
    }
}
@media screen and (max-width: 576px) {
    .CRM__block__arrow{
        display: none;
    }
    .CRM__block img{
        height: 200px;
        border-radius: 12px;
    }
    .CRM__block__description button{
        width: 100%;
        padding: 8px 0!important;
    }
    .CRM__block__description button div {
        font-size: 16px!important;
    }
    .CRM{
        padding: 64px 16px;
    }
    .CRM__block__description {
        padding: 0;
    }
}