.articles__post {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

@media screen and (max-width: 576px) {
    .articles__post p {
        max-width: 100% !important;
    }
}