.reinvent{
    padding: 64px 80px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    gap: 8px;
}
.fade__reinvent{
    background: linear-gradient(180deg, #09091A 24.66%, rgba(9, 9, 26, 0.00) 100%);
    position: absolute;
    top:0;
    left: 0;
    height: 177px;
    z-index: 1;
}
.reinvent div{
    /*max-width:39.5vw;*/
    width: Calc(50vw - 160px);
    min-width: Calc(50vw - 160px);
    max-width: Calc(50vw - 160px);
}
.reinvent div div h3{
    margin-top: 16px;
}
.reinvent div div p{
    margin-top: 8px;
}