.we__meant__sticky {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 80px;
    gap: 130px;
    margin-top: 80px;
    transition: opacity 0.5s ease;
}

.sticky__text {
    font-size: 120px;
    text-Align: center;
    position: -webkit-sticky;
    position: sticky;
    top: Calc(50vh - 80px);
    left: 50%;
    z-index: -1;
    transition: opacity 0.5s ease;
}

.unlocked_block {
    border-radius: 16px;
    border: 1px solid #1E1E4D;
    background: rgba(20, 20, 51, 0.70);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    display: inline-flex;
    padding: 36px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: Calc(100vw - 160px - 32vw);
    text-align: justify;
}

.unlocked_block h5 {
    color: var(--orange);
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-family: var(--figtree);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.unlocked_block h5 span {
    color: var(--white);
}

@media screen and (max-width: 992px) {
    .sticky__text {
        font-size: 120px;
    }

    .unlocked_block {
        width: Calc(100vw - 160px);
    }
}

@media screen and (max-width: 800px) {
    .we__meant__sticky {
        padding: 60px 60px 64px;
    }

    .sticky__text {
        font-size: 110px;
    }
    .unlocked_block {
        width: Calc(100vw - 120px);
    }

}

@media screen and (max-width: 768px) {
    .we__meant__sticky {
        padding: 32px 32px 64px;
        margin-top: 80px;
    }
    .sticky__text {
        font-size: 90px;
    }
    .unlocked_block {
        width: Calc(100vw - 64px);
        padding: 20px;
    }
    .unlocked_block h5{
        font-size: 24px;
    }

    .unlocked_block strong{
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    .we__meant__sticky {
        padding: 16px 16px 64px;
    }
    .sticky__text {
        font-size: 64px;
    }
    .unlocked_block {
        width: Calc(100vw - 32px);
    }
}
@media screen and (max-width: 390px) {
    .sticky__text {
        font-size: 56px;
    }
}
