.we__meant__sticky{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 80px;
    gap: 130px;
    margin-top: 80px;
    transition: opacity 0.5s ease;
}
@media screen and (max-width: 800px) {
    .we__meant__sticky {
        padding: 60px 60px 64px;
    }
}

@media screen and (max-width: 768px) {
    .we__meant__sticky {
        padding: 32px 32px 64px;
        margin-top: 80px;
    }
}
@media screen and (max-width: 768px) {
    .we__meant__sticky {
        padding: 16px 16px 64px;
    }
}